<div class="container-fluid" *ngIf="multiplayer.user">
  <div class="row mt-3 ml-3">
    <div class="col-8" style="background: rgba(255,255,255,0.5); height: 85vh">
      <ul id="messages"></ul>
      <ul id="chatMessages">
        <li style="list-style: none" *ngFor="let message of allClientMessages">{{message}}</li>
      </ul>
    </div>
    <div class="col-3 ml-5" style="height: 85vh; background: rgba(255,255,255,0.6)">
      <p style="text-align: center">Connected users:</p>
      <ul>
        <li *ngFor="let chatUser of multiplayer.chatUsers" style="list-style: none;">
          <span class="glyphicon glyphicon-user"></span>
          {{chatUser.username}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row ml-3 mt-2">
    <div class="col-10" style="background: rgba(255,255,255,0.5); height: 6vh">
      <div class="row mt-2">
        <div class="col-10 input-group mb-3" style="height: 100%;">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{multiplayer.user}}:</span>
          </div>
          <input (keyup)="$event.keyCode == 13 && sendMessage()" [(ngModel)]="message" id="message" type="text" class="form-control" placeholder="Write your message!" aria-label="Username">
        </div>
        <div class="col-2">
          <button class="btn btn-info w-100" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
    <div class="col-2">
        <button style="height: 100%" class="btn-hover color-3" routerLink="/menu">Back to menu</button>
    </div>
  </div>
</div>

<div *ngIf="!multiplayer.user">
  <h1>There must be a problem with your user! Try to login again</h1>
  <button class="btn-hover color-3" routerLink="">Back to Login</button>
</div>

