<p class="display-4 mt-5" style="text-align: center">Guess who! </p>
<div class="container" style="background: rgba(255,255,255,0.5); margin-top: 25vh;">
  <form class="col-12 mt-5 pt-3 pb-5" >
    <div class="form-group">
      <p style="text-align: center" for="exampleInputEmail1">Username</p>
      <input type="email" (keyup)="$event.keyCode == 13 && userLogin()" [(ngModel)]="userName" name="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username..." required>
      <small id="emailHelp" class="form-text text-muted">Be sure that your username is not registered.</small>
      <p style="text-align: center" for="exampleInputEmail1">Username</p>
      <input type="password" (keyup)="$event.keyCode == 13 && userLogin()" [(ngModel)]="userPassword" name="userPassword" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter password..." required>
    </div>
    <!--<div class="form-group">-->
      <!--<label for="exampleInputPassword1">Password</label>-->
      <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
    <!--</div>-->
    <button *ngIf="userName && userPassword" type="button" class="btn btn-primary col-12" (click)="userLogin()">Login</button>
    <div *ngIf="alreadyExistsMessage" class="alert alert-danger" role="alert">{{alreadyExistsMessage}}</div>

    <hr>
    <button class="btn btn-info w-100" routerLink="register">Not registered yet?</button>
  </form>
</div>
