<div *ngIf="multiplayer.isLogged" class="container">
  <!--<div class="alert alert-success" role="alert">-->
    <!--This is a success alert—check it out!-->
  <!--</div>-->
  <p class="alert alert-success" style="text-align: center">You are logged as {{multiplayer.user}} !</p>
  <p style="text-align: center">Current online players: {{multiplayer.connectedUsers.length}}</p>
  <div id="accordion" class="mt-5">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Play the game!
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Room name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter room name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter room password">
            </div>
            <button type="button" (click)="goToLobby()" class="btn btn-primary col-12">Play</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Chat
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <p>Chat now with everyone who is connected!</p>
          <button type="button" (click)="goToChat()" class="btn btn-primary col-12">Chat now!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How to play
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Game info.
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!multiplayer.isLogged">
  <h1>NO ESTÁS LOGEADO</h1>
  <button class="btn-hover color-2" (click)="goToMain()">Back to LogIn</button>
</div>

