<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Create a new character
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Name</label>
                <input [(ngModel)]="inputName" name="inputName" type="email" class="form-control" id="inputEmail4" placeholder="Character name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputHair">Hair color</label>
                <select [ngModel]="inputHair" (change)="changeHair($event.target.value)" name="inputHair" id="inputHair" class="form-control">
                  <option *ngFor="let option of characterExampleHair" [value]="option">{{option}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputEyes">Eyes color</label>
                <select [ngModel]="inputEyes" (change)="changeEyes($event.target.value)" name="inputEyes" id="inputEyes" class="form-control">
                  <option *ngFor="let option of characterExampleEyes" [value]="option">{{option}}</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputSkin">Skin color</label>
                <select [ngModel]="inputSkin" (change)="changeSkin($event.target.value)" name="inputSkin" id="inputSkin" class="form-control">
                  <option *ngFor="let option of characterExampleSkin" [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputGender">Gender</label>
                <select [ngModel]="inputGender" (change)="changeGender($event.target.value)" name="inputGender" id="inputGender" class="form-control">
                  <option *ngFor="let option of characterExampleGender" [value]="option">{{option}}</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputBeard">Has a beard</label>
                <select [ngModel]="inputBeard" (change)="changeBeard($event.target.value)" name="inputBeard" id="inputBeard" class="form-control">
                  <option *ngFor="let option of characterExampleBeard" [value]="option">{{option}}</option>
                </select>
              </div>
            </div>
            <button *ngIf="inputName && inputHair && inputEyes && inputSkin && inputGender && inputBeard" type="button" class="btn btn-primary w-100" (click)="createCharacter()">Create new character!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Characters created by {{multiplayer.user}} (you)
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <ul>
            <li *ngFor="let character of userCharacters" style="display: inline;">
              <div class="card"
                   style="width: 10rem; display: inline-block; background: rgba(255,255,255,0.4)!important">
                <img class="card-img-top" src="{{character.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 style="text-align: center" class="card-title">{{character.name}}</h5>
                  <p *ngIf="character.timeCreated">Date Created: {{character.timeCreated}}</p>
                  <!--<p style="text-align: center" class="card-title">Created by: {{character.name}}</p>-->
                  <!--<p>Creator's id: {{character.id}}</p>-->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Account settings
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="display-4" style="text-align: center">Change password</p>
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Your current password</label>
                  <input [(ngModel)]="inputCurrentPassword" name = "inputCurrentPassword" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Current password...">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input [(ngModel)]="inputPassword1" name = "inputPassword1" type="password" class="form-control" id="exampleInputPassword1" placeholder="New password">
                  <small id="emailHelp3" class="form-text text-muted">Be sure that you want to change your password.</small>
                  <input [(ngModel)]="inputPassword2" name = "inputPassword2" type="password" class="form-control" id="exampleInputPassword4" placeholder="New password">
                </div>
                <button *ngIf="inputCurrentPassword != null && inputPassword1 != null && inputPassword2 != null && inputPassword1 === inputPassword2" (click)="changeUserPassword()" type="button" class="btn btn-primary w-100">Change password</button>
              </form>
            </div>
            <div class="col-6">
              <p class="display-4" style="text-align: center">Change username</p>
              <form>
                <div class="form-group">
                  <label  for="exampleInputEmail2">Current username</label>
                  <input [(ngModel)]="inputCurrentUsername" name = "inputCurrentUsername" type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter your username...">
                  <label for="exampleInputPassword3">Password</label>
                  <input [(ngModel)]="inputPassword3" name = "inputPassword3" type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">New username</label>
                  <input [(ngModel)]="inputNewUsername" name = "inputNewUsername" type="email" class="form-control" id="exampleInputEmail34" aria-describedby="emailHelp1" placeholder="New username...">
                  <small id="emailHelp2" class="form-text text-muted">Dont worry, we wont judge you if you are transgender. :-)</small>
                </div>
                <button *ngIf="inputCurrentUsername != null && inputPassword3 != null && inputNewUsername != null" (click)="changeUserUsername()" type="button" class="btn btn-primary w-100">Change username</button>
              </form>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>
